.header-wraper {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px;
  z-index: 100;
}
.nav-ul {
  display: flex;
  justify-content: space-between;
}
.nav-ul li a {
  margin: 50px;
  color: #fff;
}
.burger-bar {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 40px;
  height: 40px;
  display: none;
}
.line {
  width: 80%;
  height: 2px;
  background-color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: all 0.5s;
}
.line1 {
  top: 30%;
}
.line3 {
  top: 70%;
}
.activeBugerBar .line1 {
  top: 50%;
  transform: translate(-50%, -50%) rotate(45deg);
}
.activeBugerBar .line2 {
  display: none;
}
.activeBugerBar .line3 {
  top: 50%;
  transform: translate(-50%, -50%) rotate(-45deg);
}
.nav-ul.toggleNavigation {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #1c1d22;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
/* first section */
.bodybck {
  background-color: #1c1d22;
}

.upper-block {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.upfirstdiv {
  max-width: 700px;
  width: 80%;
}
.upfirstdiv h2 {
  font-size: 64px;
  color: #fff;

  margin-top: 80px;
}
.span1 {
  color: #e8985c;
}
.upfirstdiv p {
  color: #fff;
  margin-top: 20px;
  font-size: 27px;
}
.pictureclass img {
  max-width: 900px;
  width: 100%;
}



/* accordion */
.secondblock {
  max-width: 1637px;
  width: 80%;
  text-align: center;
  margin: 100px auto;
}
.secondblock h2 {
  color: #fff;
}
.secondblock h3 {
  margin-top: 16px;
  margin-bottom: 10px;
  font-size: 36px;
  color: #fff;
}
.teamblock {
  max-width: 1705px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
}

.team-title {
  margin-top: 20px;
  margin-left: 10px;
  position: relative;
  color: #fff;
}
.team-title:before {
  content: "+";
  position: absolute;
  top: 50%;
  right: 30px;
  transform: translateY(-50%);
  font-size: 30px;
}
.team-content {
  height: 50px;
  display: none;
  width: 100%;
  font-size: 22px;
  transition: 0.5s;
  color: #fff;
  margin-top: 20px;
  margin-left: 10px;
  font-size: 20px;
}
.teambox.active .team-content {
  display: block;
}
.teambox.active .team-title:before {
  content: "-";
}
.teambox {
 
  margin-bottom: 30px;
  padding: 10px;
}
/* footer */
.footer-block {
  background-color: #000000;
  width: 100%;
  height: 200px;
  margin-top: 100px;
}
.contactfooter {
  margin: 0 auto;
  max-width: 400px;
  width: 100%;
  padding-top: 10px;
}
.fpstyle {
  margin-bottom: 20px;
}
.icons {
  display: flex;

  justify-content: space-around;
}

.icons .fa-brands {
  font-size: 40px;
}
.icons .fa-instagram {
  font-size: 40px;
}
.icons .fa-youtube {
  font-size: 40px;
  color: #dc4e41;
  margin-left: 40px;
}
.icons .fa-twitter {
  font-size: 40px;
}
.footer-block p {
  color: #ffffff;
  font-size: 20px;
  text-align: center;
  margin-top: 20px;
}
